body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(112, 112, 112, 0.8));
    margin: 0px;
}

div.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text {
    font-weight: 800;
    font-size: 1.5rem;
}

.left-container {
    background: url("../images/assault-rifle.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    flex: 1 1 auto;
}

.left-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.5);
    position: relative;
    top: 40%;
    text-align: center;
    color: white;
    height: auto;
}

.left-card-container > img {
    max-height: 100px;
    opacity: 0.5;
}

.left-card-container > p {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-size: 2rem;
    color: rgb(245, 245, 245);
}

.card-image {
    width: max(100%, 50vw);
    height: 100%;
}

.right-container {
    width: clamp(40ch, 65vw, 75ch);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.right-container > * {
    padding: max(20px, 3vw);
}

#user-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.form-section {
    box-shadow: 5px 7px 4px rgba(30, 30, 30, 0.2);
    background-color: rgb(255, 255, 255);
    flex: 0 1 auto;
    max-height: min(300px, 30vh);
}

.form-section > p {
    font-weight: 900;
    margin-top: 0px;
    color: #317dad;
}

.form-section > form {
    height: 300px;
    flex: 0 1 auto;
}

.form-container {
    padding: 0px;
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    gap: 10px;
}

.form-field {
    height: 50px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

input {
    border-radius: 5px;
    flex: 0 1 auto;
    max-width: 45ch;
    height: 30px;
}

#create-acc-btn {
    font-weight: 700;
    color: black;
    border: 1px solid #317dad;
    border-radius: 10px;
    background-image: white;
    box-shadow: 2px 2px 3px black;
    width : 20%;
    height: 3rem;
    font-size: 1rem;
}

#create-acc-btn:hover {
    background-color: #317dad;
    color: white;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.account-creation-section > p {
    font-size: 1.2rem;
}

.account-creation-section > p > a{
    color: #185175;
    text-decoration: none;
    font-weight: 800;
}

